/* this is the master css we will use for styling */

body {
	background:#e6e6f1;
}

hr { color: #EEE; border-color: #EEE; }

	
a{
	color:#0000ff;
	text-decoration:underline;
	background-image:none;
	}
	
a:hover{
	text-decoration:none;
	background:none;
	}

h2 {
	color:#022c56; font-weight:bold; 
	margin-bottom: 3px;
	margin-top: 0; padding-top: 20px;
}

.scrollButtons {
	text-align: right;
	margin: 0; padding: 0;
	margin-top: 10px; margin-right: 10px;
}
.scrollButtons a {
	color: #000; text-decoration: none; background: none; padding: 4px 8px 4px 8px;
}
.scrollButtons a:hover {
	color: blue;
}

img.photo {
	padding: 12px;
	background-image: url(/images/photo-bg.png);
	margin-bottom: 20px;
}


#page{
	padding:0;
	background-color:#FFFFFF;
	}
	
#header{
	height:86px;
	}
	
#header img{
	margin:13px 0 0 0;
	}
	

#navigation{
	text-align:right;
	font-size:12px;
	line-height:15px;
	padding:37px 0 0 0;
	}
	
#navigation a{
	margin:0 4px;
	color:#000000;
	text-decoration:none;
	}
	
#navigation a:hover{
	text-decoration:underline;
	background:none;
	}
	

#mainPanel {
	background-color:#022c56;
	padding:20px 0 16px;
	color:#FFFFFF;
	font-size:20px;
	line-height:29px;
	}
	
#mainPanel h2{
	font-size:26px;
	line-height:27px;
	margin:0 0 15px 20px;
	padding:0;
	color: #FFFFFF;
	font-weight: normal;
	}
	
#mainPanel p{
	padding:0 20px;
	margin:0;
	}
	
#mainPanel p.smallText{
	text-align:right;
	font-size:11px;
	line-height:14px;
	}
	
#mainPanel p.smallText a{
	color:#FFFFFF;
	text-decoration:none;
	}
	
#mainPanel p.smallText a:hover{
	text-decoration:underline;
	background:none;
	}
.imagePanel {
	background: #AFCCDC;
}
.panel {
	padding:0 0px;
	margin:10px;
	}
.panel h2, .panel p, .panel ul {
	padding-left: 6px;
	padding-right: 6px;
}
	
ul.linkList{
	list-style-type:none;
	background:#eeeeee;
	margin:0;
	float:right;
	width:243px;
	}
	
ul.linkList li{
	height:40px;
	padding:0 0 0 0;
	margin:0 0 0 0;
	}
	
ul.linkList li a{
	display:block;
	padding:0 0 0 15px;
	line-height:40px;
	margin:0;
	color:#000000;
	text-decoration:none;
	}
	
ul.linkList li a:hover{
	background-color:#e6e6f1;
	}
	
#contactPanel{
	background:#afccdc;
	}
	
.map{
	border:solid 8px #9dbcce;
	margin:20px 0;
	}
	
#footer{
	padding:70px 0 10px 0;
	}
	
#footer p{
	margin:0 0 0 10px;
	color:#c2c2c2;
	}

#login_form {
  float: right;
  background: #AFCCDC;
  padding: 7px;
  width: 385px;
  margin-right: 10px;
}
#login_form input[type=text], #login_form input[type=password]  {
  margin: 4px;
  width: 150px;
}
	
/*------------------- png solution for ie 6.0 -----------------------*/

/*------ Direct Image ------*/
	
* html img,

* html .png{

    position:relative;

    behavior: expression((this.runtimeStyle.behavior="none")&&(this.pngSet?this.pngSet=true:(this.nodeName == "IMG" && this.src.toLowerCase().indexOf('.png')>-1?(this.runtimeStyle.backgroundImage = "none",

        this.runtimeStyle.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + this.src + "', sizingMethod='image')",

        this.src = "images/transparent.gif"):(this.origBg = this.origBg? this.origBg :this.currentStyle.backgroundImage.toString().replace('url("','').replace('")',''),

        this.runtimeStyle.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + this.origBg + "', sizingMethod='crop')",

        this.runtimeStyle.backgroundImage = "none")),this.pngSet=true)

    );

};


-->


	

