body {
	background:url(/images/body_bg.gif) repeat;
	padding:0;
	margin:0;
	border:0;
	font-family:Arial, Helvetica, sans-serif;
	color:#fcfcfc;
}

/* Structure
------------------------------------*/
#page {
	background:url(/images/wrap_bg.gif) no-repeat top center;
}
.section {
	height: 800px;
}
.header {
	padding-top: 40px;
}
.header h1 a {
	text-decoration: none;
	margin:0;
	padding:0;
	font-size:38px;
	color:#fff;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:normal;
}

/* Logo
------------------------------------*/
h1#logo  {
	margin-left: -2000px;
	width: 2211px;
}
h1#logo a {
	display: block;
	background: url(/images/logo.png) no-repeat top right;
	height: 114px;
}

/* Navigation
------------------------------------*/
.navigation {
	text-align: right;
}
.navigation ul {
	text-align: right;
	float: right;
	list-style:none;
	font-family:Arial, Helvetica, sans-serif;
	color:#fff;
	margin:8px 0 0 0;
	padding:0;
	position:relative;
	z-index:1000;
}
.navigation ul li {
	display:inline;
	padding:0;
	margin:0 2px 0 0;
	float:left;
}
.navigation ul li a {
	color: #94D1FE;
	text-decoration:none;
	font-size:16px;
	float:left;
	padding:10px 10px 11px 10px;
	margin:0;
}
.navigation ul li a:hover, .navigation ul li a.current {
	border-bottom:1px dotted #fff;
	padding:10px;
	color:#fff;
}

/* Featured
------------------------------------*/
#featured {
	background: url(/images/featured_bg.png) no-repeat;
	overflow: hidden;
	margin:0 0 0 -15px;
	height: 286px; 
	color: #000;
}
#featured-content {
	padding: 20px 30px 20px 30px;
}

/* Excerpt
------------------------------------*/
#excerpt {
	padding:40px 0 50px 0;
	margin:0;
}
#excerpt .paper-plane {
	background:url(../images/paperplane.png) no-repeat right;
	display:block;
	float:right;
	width:200px;
	height:171px;
	position:relative;
	margin:-50px -115px 0 0;
}
#excerpt h3 {
	padding:0 0 20px 0;
	margin:0;
	font-size:30px;
	font-weight:normal;
	color:#fff;
}
#excerpt h3 a {
	color: #94D1FE;
	text-decoration:none;
}
#excerpt h3 a:hover {
	color:#8f8f8f;
	border-bottom:1px dotted #898989;
}